@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes revealTopToDown {
  from {
    opacity: 0;
    transform: translateY(-50%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.reveal-animation {
  animation: revealTopToDown 0.7s ease-in-out forwards;
}